 @import url("bootstrap/dist/css/bootstrap.min.css");
 *{
  margin:0;
  padding:0;
box-sizing: border-box;
 }
 .movie img{
  width:300px;
  height:300px;

  margin-top: 15px;
   

 }
 .movies h2{
  display:block;
  width:100%;
 }

 .movie{
  display:flex;
  overflow-x: scroll;
  gap:30px;
  
  
 }
 .movie::-webkit-scrollbar{
  display:none;
 }
 .movie img:hover{
  transform:scale(1.1,1.1);
  transition-property:transform;
  transition-duration: 1s;
 }